@model SolidCRM.Models.TicketTask
<link href="~/theme/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet" />
<script src="~/theme/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>@*<script src="~/theme/bower_components/ckeditor/ckeditor.js"></script>*@
@*UnComment ckEditor when need and apply 'ckeditor' class to that control*@
<link href="~/theme/bower_components/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/theme/bower_components/select2/dist/js/select2.full.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.select2').select2({ maximumSelectionLength: 1 });
    });
</script>
@Html.AjaxFormSubmiter("myForm", "tbTicketTask", true, "Action Successfully Executed")

<form id="myForm" asp-action="Edit" role="form" enctype="multipart/form-data">
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Fill Required Info" })
    <div class="modal-body form-horizontal">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="TicketId" class="col-lg-4 col-sm-6 control-label"></label>
                    <div class="col-lg-6">
                        <select asp-for="TicketId" asp-items="ViewBag.Tickets" multiple="multiple" style="width: 100%" class="form-control select2"><option value="">Select</option> </select>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate" class="col-lg-4 col-sm-6 control-label"></label>
                    <div class="col-lg-6">
                        <input type="text" asp-for="EndDate" class="form-control" />
                        <script>$(function () { $('#EndDate').datepicker({ autoclose: true }); });</script>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="StatusId" class="col-lg-4 col-sm-6 control-label"></label>
                    <div class="col-lg-6">
                        <select asp-for="StatusId" asp-items="ViewBag.Statuss" multiple="multiple" style="width: 100%" class="form-control select2"><option value="">Select</option> </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        <input type="hidden" asp-for="AddedBy" value="@Env.GetUserInfo("Id",User.Claims)" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        <input type="hidden" asp-for="ModifiedBy" value="@Env.GetUserInfo("Id",User.Claims)" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="IsDelete" class="col-lg-4 col-sm-6 control-label"></label>
                    <div class="col-lg-6">
                        <select asp-for="IsDelete" class="form-control">
                            <option selected="selected" value="">Select</option>
                            <option value="true">True</option>
                            <option value="false">False</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="StartDate" class="col-lg-4 col-sm-6 control-label"></label>
                    <div class="col-lg-6">
                        <input type="text" asp-for="StartDate" class="form-control" />
                        <script>$(function () { $('#StartDate').datepicker({ autoclose: true }); });</script>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="TaskDetail" class="col-lg-4 col-sm-6 control-label"></label>
                    <div class="col-lg-6">
                        <textarea asp-for="TaskDetail" class="form-control ckeditor"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="PriorityId" class="col-lg-4 col-sm-6 control-label"></label>
                    <div class="col-lg-6">
                        <select asp-for="PriorityId" asp-items="ViewBag.Prioritys" multiple="multiple" style="width: 100%" class="form-control select2"><option value="">Select</option> </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        <input type="hidden" asp-for="DateAdded" value="@DateTime.Now" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        <input type="hidden" asp-for="DateModied" value="@DateTime.Now" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="TakeTimeInHour" class="col-lg-4 col-sm-6 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="TakeTimeInHour" class="form-control" />
                    </div>
                </div>

            </div>
        </div>
    </div>
    @await Html.PartialAsync("_ModalFooter", new ModalFooter { })
</form>
